# Environment variables
.env

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# SQLAlchemy DB
*.db

# Alembic
# Include the Alembic folder and migration scripts
# alembic/versions/ should be included to track migrations
app/alembic/versions/*
!app/alembic/env.py
!app/alembic/script.py.mako
!app/alembic.ini

.idea